.uparrow{
    animation: updown 1.2s linear infinite alternate-reverse;;
}

@keyframes updown {
    0% {
        transform: translateY(-0.5rem);
      }
      100% {
        transform: translateY(0.5rem);
      }

}

.borderpart{
    border: 1px solid black;
}


.uparrowbox1{
    display: none;
}

.uparrowbox{
    display: block;
}

.app{
    font-family: 'Poppins', sans-serif;
}